<h1> New Artisty </h1>


<%= form_for @artisty do |f| %>
  
<%= f.collection_select :artist_id, @artists, :id, :name %> 
<%= f.collection_select :instrument_id, @instruments, :id, :name %>
    <%= f.submit %>
 

<% end %>